@font-face {
  font-family: 'ModernDOS9x16' ;
  src: url('./assets/ModernDOS9x16.ttf');
}

*, *::before {
  box-sizing: border-box; }

  body {
    height: 100%;
    background-color: #777;
    font-family: 'ModernDOS9x16';
   }

#chatheader {
    padding: 10px;
    
    z-index: 10;
    background-color: #00d201;
    color: #000;
    position: relative;
    font: 32px "ModernDOS9x16";
}

#chatMaga {
  width: 970px;
  margin-left: 30%;
  margin-top: 600px;
  cursor: move;
  position: fixed;
  z-index: 11;
}

@media (max-height: 768px) {
  #chatMaga {
    width: 970px;
    margin-left: 30%;
    margin-top: 400px;
    cursor: move;
    position: fixed;
    z-index: 11;
  }
}

.chatMaga {
  display: flex;
  
  height: 220px;
  /*background-color: #fff;*/
  flex-direction: column-reverse;
  padding: .75rem;
  overflow: hidden;
  border: 1px #9bc;
  font: 32px "ModernDOS9x16";
  color: #000000;
  position: relative; 
}
.chatMaga__content {
  flex: 0 1 auto;
  padding: 1rem;
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0 .5rem;
  background: #fff;
  border-radius: var(--radius); 
}

#chat {
  width: 470px;
  cursor: move;
  position: fixed;
  z-index: 2;
}

.chat {
  display: flex;
  height: 740px;
  background-color: #000000;
  flex-direction: column-reverse;
  padding: .75rem;
  overflow: hidden;
  border: 1px #9bc;
  font: 32px "ModernDOS9x16";
  color: #00d201;
  position: relative; 
}


@media (max-height: 768px) {
  .chat {
    display: flex;
    height: 440px;
    background-color: #000000;
    flex-direction: column-reverse;
    padding: .75rem;
    overflow: hidden;
    border: 1px #9bc;
    font: 32px "ModernDOS9x16";
    color: #00d201;
    position: relative; 
  }
};


.chat__inner {
    display: flex;
    flex-direction: column; 
}
.chat::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    height: 40%;
    width: 256px;
    }

.chat p {
  margin: 0;
  padding: 0; }

.chat__content {
  flex: 0 1 auto;
  padding: 1rem;
  margin: 0 .5rem;
  background: var(--bgcolor);
  border-radius: var(--radius); 
}

.chat__message {
  width: 90%;
  display: flex;
  align-items: flex-end;
  transform-origin: 0 100%;
  padding-top: 0;
  transform: scale(0);
  max-height: 0;
  overflow: hidden;
  animation: message .15s ease-out 0s forwards;
  animation-delay: var(--timeline);
  --bgcolor: #111;
  --radius: 12px 12px 12px 0; 
}
  .chat__message_B {
    flex-direction: row-reverse;
    text-align: right;
    align-self: flex-end;
    transform-origin: 100% 100%;
    --bgcolor: #010;
    --radius: 12px 12px 0 12px; }
  /*.chat__message::before {
    content: "";
    flex: 0 0 40px;
    aspect-ratio: 1 / 1;
    background: var(--bgcolor);
    border-radius: 50%; }
*/
@keyframes message {
  0% {
    max-height: 100vmax; }
  80% {
    transform: scale(1.1); }
  100% {
    transform: scale(1);
    max-height: 100vmax;
    overflow: visible;
    padding-top: 1rem; } }

h1 {
  text-align: center;
  font-family: "ModernDOS9x16";
  font-size: 4rem;
  color: #9bc; }

* {
  font-family: "ModernDOS9x16"; }

code {
  display: inline-block;
  padding: .35rem;
  color: yellowgreen;
  background: #f6f6f6; 
}



.bg-image {
  /* Full height */
  height: 300vh;
  background-color: #afa;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);


  /* Center and scale the image nicely 
  background-position: center;
  background-repeat: repeat;
  background-size: 100% 100%;*/
}

.img1 { 
  background-image: url("assets/phaser3/Fofocas da Manha.jpg"); 
  background-size: cover; 
  z-index: -200;
  display: block;
  
}

.chatInput {
  background-color: #aaa;
  padding: 15px 15px;
  border:0px solid #FF0000;
}

.banner { 
  position: fixed;
  padding-top: 100px;
  z-index: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left:10%;
  width: 80%;
}

#inputText {
  font-size: 32px;
  background-color: #fff;
  border-width:0px;
  border:none;
  -webkit-appearance: none;
  width: 80% ;
  outline: none;


}

#enviar {
  font-size: 24px;
  float: right;
  margin-top: -2%
}



#slideshow {
  position: fixed;
  bottom: 0px;
  left: -100px;
  z-index: 10;
}
#slideshowZ {
  position: fixed;
  bottom: 0px;
  left: -100px;
  z-index: 8;
}

#pin {
z-index: 9;
width: 100px;

}


.imagem { 
  position: fixed;
  display:block;
  margin: 0 auto;
  z-index: 0;
}
#map1 { 
  margin: -200px auto;
}

#arrow {

  margin: 400px 1700px;
  height: 200px;
  width: 140px;
}

@media (max-height: 900px) {
  #arrow {
    margin: 350px 1196px;
    height: 100px;
    width: 70px;
  }
}


@media (max-height: 768px) {
  #balao {
    width: 600px;
    margin-top: -13%;
  }
  #not01, #not02, #not03, #not04, #not05, #not06 {
    width: 450px;
    margin-top: -13%;
  }
  .imagem { 
    position: fixed;
    display:block;
    z-index: 0;
    width: 100%;
  }

  #map1 { 
    position: fixed;
    display:block;
    z-index: 0;
    margin: -440px auto;
    width: 100%;
  }
  #arrow {
    margin: 350px 1196px;
    height: 100px;
    width: 70px;
  }
};




.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #f7aa9e, #f86666, #e8b71d, #feffb3, #96ffa8, #97faff, #9b95f7, #f8a8ff, #f19bf8);
background-size: 1800% 1800%;

-webkit-animation: rainbow 30s ease infinite;
-z-animation: rainbow 30s ease infinite;
-o-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

video {
  height: 100%;
  width: 100%;
}